<div class="ui message">
	<div class="ui centered grid">
		<h2 class="ui header">
		<i class="big green checkmark icon" style="line-height: 65%;"></i>
		Neurological Exam is Normal
		</h2>
	</div>
</div>